<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<div class="headline">
    <h1>{{bezeichnung}}</h1>
    <h2>{{ort}} - {{code}}</h2>
</div>

<body>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let flug of fluege">
                <div class="airline" >
                    <h3>{{flug.angebot.airline.bezeichnung}}    {{flug.angebot.flugNummer}}</h3>
                </div>
                <div class="content">
                    <h1>{{flug.angebot.flughafenAn.bezeichnung}}</h1>
                    <p>Abflugszeit: {{flug.angebot.abflugszeit}}</p>
                    <p>Ankunftszeit: {{flug.angebot.ankunftszeit}}</p>
                    <p>Datum: {{flug.datum}}</p>
                    <p>Flugzeug: {{flug.flugzeug.bezeichnung}}</p>
                    <p>Maximale Sitzplätze: {{flug.flugzeug.maxSitze}}</p>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="swiper.min.js"></script>
</body>