<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<div class="headline">
    <h1>{{bezeichnung}}</h1>
    <h2>{{ort}} - {{code}}</h2>
</div>

<body>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let angebot of angebote">
                <div class="airline">
                    <h3>{{getAirline(angebot.idAirline)}}</h3>
                </div>
                <div class="content">
                    <h1>{{getAirport(angebot.idFlughafenAn)}}</h1>
                    <p>Abflugszeit: {{angebot.abflugszeit}}</p>
                    <p>Ankunftszeit: {{angebot.ankunftszeit}}</p>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="swiper.min.js"></script>
</body>