<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="body">
  <div class="cards">
    <div class="card" *ngFor="let airport of airports">
      <div class="card__header">
        <div class="card__header__text">{{airport.code}}</div>
      </div>
      <div class="card__content">
        <p>
          {{airport.ort}}
        </p>
        <p>
          {{airport.bezeichnung}}
        </p>
      </div>
      <div class="card__info">
        <div>
          <i class="material-icons">flight_takeoff</i>
        </div>
        <div>
          <a href="./Flughafen/{{airport.id}}" class="card__link">Fluege</a>
        </div>
      </div>
    </div>
  </div>
</div>