<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css' rel='stylesheet' />


<ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()">
    <ng-sidebar class="sb" [(opened)]="_opened" [mode]="over" [keyClose]="true"
        [autoCollapseHeight]="_autoCollapseHeight" [autoCollapseWidth]="_autoCollapseWidth" [closeOnClickOutside]="true"
        [animate]="true">

        <a class="sidebar-control" (click)="_toggleOpened()"></a>
        <h1>Menü</h1>

        <h2><a closeSidebar>Karte</a></h2>
        <hr>
        <h2><a closeSidebar>Flughafen</a></h2>
        <hr>
        <h2><a closeSidebar>Options</a></h2>
        <hr>

    </ng-sidebar>

    <div ng-sidebar-content>
        <header class="sidebar-header">
            <button (click)="_toggleOpened()" class="sidebar-header__toggle">Toggle sidebar</button>
            <span>Airline Verwaltung</span>
        </header>

        <section class="sidebar-contents">
            <div class="map" id="map" class="match-parent"></div>
        </section>
    </div>
</ng-sidebar-container>