#My WS Properties
resource=http://localhost:8080/
webTargetFlugzeugList=01_FlugVerwaltung_WebService/Verwaltung/FlugzeugListe
webTargetFlugList=01_FlugVerwaltung_WebService/Verwaltung/FlugListe
webTargetFlugDetail=01_FlugVerwaltung_WebService/Verwaltung/FlugDetail
webTargetAirlineList=01_FlugVerwaltung_WebService/Verwaltung/AirlineListe
webTargetFlugzeugDetail=01_FlugVerwaltung_WebService/Verwaltung/FlugzeugDetail
webTargetAngeboteList=01_FlugVerwaltung_WebService/Verwaltung/AngebotListe
webTargetPilotenList=01_FlugVerwaltung_WebService/Verwaltung/PilotenListe
webTargetPilotenDetail = 01_FlugVerwaltung_WebService/Verwaltung/PilotDetail
webTargetAngeboteDetail=01_FlugVerwaltung_WebService/Verwaltung/AngebotDetail
webTargetFlughafenListe=01_FlugVerwaltung_WebService/Verwaltung/FlughafenList
					