#My WS Properties
resource=http://localhost:8080/
webTargetPilotenList=01_FlugVerwaltung_WebService/Verwaltung/PilotenList
webTargetFlugzeugList=01_FlugVerwaltung_WebService/Verwaltung/FlugzeugListe
webTargetFlugList=01_FlugVerwaltung_WebService/Verwaltung/FlugListe
webTargetFlugDetail=01_FlugVerwaltung_WebService/Verwaltung/FlugDetail


					